<div class="container mat-elevation-z8" >

  <div class="form">
    <mat-form-field color="primary">
      <input matInput #filter placeholder="Search">
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="dataSourceForCenter" matSort class="mat-cell">

    <ng-container matColumnDef="appointmentId">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Appointment Id</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.appointmentId}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="appointmentTitle">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Motif</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.appointmentTitle}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="startTime">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Appointment Time</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.startTime}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Donner</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.organiser.lastName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="location">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Center Location</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.location}}</mat-cell>
    </ng-container>

    <!-- actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
      </mat-header-cell>

      <!--<mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="primary"
                (click)="startEdit(i, row.userId, row.firstName, row.lastName, row.emailId, row.enabled)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
        <button mat-icon-button color="warn"
                (click)="deleteItem(i,row.userId, row.firstName, row.lastName, row.emailId, row.enabled)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>-->
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </table>


  <div class="no-results" [style.display]="dataSourceForCenter.renderedData.length == 0 ? '' : 'none'">
    No results In Center
  </div>

  <mat-paginator #paginator
                 [length]="dataSourceForCenter.filteredData.length"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>

