<div class="container">
  <h3 mat-dialog-title>User ID: {{data.userId}}</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit(data.userId)" #formControl="ngForm">
    <!--Textarea for demo purposes-->
    <div class="form-group">
      <mat-form-field>
        <input matInput class="form-control" placeholder="Frist Name" [(ngModel)]="data.firstName" name="firstName"
               required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <!--Contains mat-hint for characters count and has maxLengt set-->
    <div class="form-group">
      <mat-form-field color="primary">
        <input matInput class="form-control" placeholder="Last Name" [(ngModel)]="data.lastName" name="lastName"
               required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field color="primary">
        <input matInput placeholder="Email" [(ngModel)]="data.emailId" name="emailId">
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field color="primary">
        <input matInput placeholder="Enable" [(ngModel)]="data.enabled" name="enabled">
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button type="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" color="primary">Save
      </button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
